#container {
    position: relative;
}

#unitListContainer {
    position: absolute;
    background-color: #f3f3f3;
    float: bottom;
    width: 550px;
    height: 700px;
    display: none;
    z-index: 20;
}

#unitList {
    height: 90%;
    overflow: auto;
}

#listCloseButton {
    float: right;
}

.iconImg {
    width: 100%;
    cursor: pointer;
}

.selectedImg {
    width: 100%;
    cursor: pointer;
}

.unitBox, .craftBox {
    width: 80%;
    text-align: center;
    border: 1px solid;
    margin-bottom: 10px;
    border-radius: 5px;
}

.craftNumInput {
    width: 100%;
}

#unitInfoForm {

}

#selectedContainer {
    position: relative;
    float: bottom;
}

#pageCover {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.3;
    z-index: 2;
    display: none;
}

#craftContainer {
    position: relative;
    float: bottom;
}

#schemeContainer {
    position: relative;
    float: bottom;
}